{% extends "base.html" %} {% block main %}
<nav class="">
    <a class="logo" href="https://www.dropzonejs.com/#"><img src="static/new-logo-icon.svg" alt="Logo"></a>
    <div class="level-0"><a href="#" class="">Installation</a>
        <div class="sub-sections" style="height: 0px;">
            <div class="level-1"><a href="#" class="">Android</a></div>
            <div class="level-1"><a href="#" class="">iOS</a></div>
        </div>
    </div>
    <div class="level-0"><a href="#usage" class="">Usage</a>
        <div class="sub-sections" style="height: 0px;">
            <div class="level-1"><a href="#" class="">Reading Legal Documents</a></div>
            <div class="level-1"><a href="#" class="">Uploading Legal Documents</a></div>
        </div>
    </div>
    <div class="level-0"><a href="#configuration" class="">NDA</a>
        <div class="sub-sections" style="height: 0px;">
            <div class="level-1"><a href="#configuration-options" class="">Configuration options</a></div>
            <div class="level-1"><a href="#enqueuing-file-uploads" class="">Enqueuing file uploads</a></div>
            <div class="level-1"><a href="#layout" class="">Layout</a></div>
            <div class="level-1"><a href="#dropzone-methods" class="">Dropzone methods</a></div>
        </div>
    </div>
    <div class="level-0"><a href="#events" class="">Events</a>
        <div class="sub-sections" style="height: 0px;">
            <div class="level-1"><a href="#event-list" class="">Event List</a></div>
            <div class="level-1"><a href="#theming" class="">Theming</a></div>
        </div>
    </div>
    <div class="level-0"><a href="#tips" class="">Tips</a></div>
    <div class="level-0"><a href="#compatibility" class="">Compatibility</a>
        <div class="sub-sections" style="height: 0px;">
            <div class="level-1"><a href="#browser-support">Browser Support</a></div>
            <div class="level-1"><a href="#version-40" class="">Version 4.0</a></div>
            <div class="level-1"><a href="#version-30" class="">Version 3.0</a></div>
            <div class="level-1"><a href="#version-20" class="">Version 2.0</a></div>
        </div>
    </div>
</nav>
<section>
    <h1 id="try-it-out">Upload Document</h1>
    <div id="dropzone">
        <form action="https://www.dropzonejs.com/upload" class="dropzone needsclick dz-clickable" id="demo-upload">
            <div class="dz-message needsclick">
                Drop files here or click to upload.
                <br>
                <span class="note needsclick">(Select a <strong>pdf</strong>, <strong>txt</strong>, or <strong>doc</strong>)</span>
            </div>
        </form>
    </div>
</section>
<section>
    <h1 id="configuration">Basic Nondisclosure Agreement</h1>
    {% include "nda.html" %}
    <h2 class="anchor" id="configuration-options">Agreement Highlights</h2>
    <table>
        <thead>
            <tr>
                <th class="title" colspan="2">
                    <div class="header">Contract Highlights</div>
                </th>
            </tr>
            <tr>
                <th>Option</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr id="config-url">
                <td><a href="https://www.dropzonejs.com/#config-url"><code>Obligations</code></a></td>
                <td>
                    Specifies very stringent obligations, even under the conditions of receiving a <code>subpoena</code>.
                </td>
            </tr>
            <tr id="config-method">
                <td><a href="https://www.dropzonejs.com/#config-method"><code>Amendements</code></a></td>
                <td>
                    Allows the opposing party to <code>amend this contract at will</code>.
                </td>
        </tbody>
    </table>
    {% endblock %}