{% extends "base.html" %} 

{% block splash_page %}
  <header style="transform: translateY(0px); opacity: 1;">

    <div class="content">
      <h1>
        <img itemprop="image" src="static/dCoder.png" alt="Logo">
        <span itemprop="name">dropzone.js</span>
      </h1>


      <h2 itemprop="description">dCoder simplifies reading contracts and patents to save you time and money.</h2>
      <h2 itemprop="description">dCoder makes reading legal contracts easier!</h2>

      <p class="scroll-invitation">
        <a href="https://www.dropzonejs.com/#try-it-out"><span>Scroll down!</span></a>
      </p>
    </div>
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();   
          });
          </script>
        </div>

      </section>


  </header>
{% endblock %}

{% block main %}
<script type="text/javascript">
$(function() {
  $("div#myId").dropzone({ url: "/file/post" });
});
</script>
<nav class="">
    <a class="logo" href="https://www.dropzonejs.com/#"><img src="static/new-logo-icon.svg" alt="Logo"></a>
    <div class="level-0"><a href="#" class="">Installation</a>
        <div class="sub-sections" style="height: 0px;">
            <div class="level-1"><a href="#" class="">Android</a></div>
            <div class="level-1"><a href="#" class="">iOS</a></div>
        </div>
    </div>
    <div class="level-0"><a href="#usage" class="">Usage</a>
        <div class="sub-sections" style="height: 0px;">
            <div class="level-1"><a href="#" class="">Reading Legal Documents</a></div>
            <div class="level-1"><a href="#" class="">Uploading Legal Documents</a></div>
        </div>
    </div>
    <div class="level-0"><a href="#configuration" class="">NDA</a>
        <div class="sub-sections" style="height: 0px;">
            <div class="level-1"><a href="#configuration-options" class="">Configuration options</a></div>
            <div class="level-1"><a href="#enqueuing-file-uploads" class="">Enqueuing file uploads</a></div>
            <div class="level-1"><a href="#layout" class="">Layout</a></div>
            <div class="level-1"><a href="#dropzone-methods" class="">Dropzone methods</a></div>
        </div>
    </div>
    <div class="level-0"><a href="#events" class="">Events</a>
        <div class="sub-sections" style="height: 0px;">
            <div class="level-1"><a href="#event-list" class="">Event List</a></div>
            <div class="level-1"><a href="#theming" class="">Theming</a></div>
        </div>
    </div>
    <div class="level-0"><a href="#tips" class="">Tips</a></div>
    <div class="level-0"><a href="#compatibility" class="">Compatibility</a>
        <div class="sub-sections" style="height: 0px;">
            <div class="level-1"><a href="#browser-support">Browser Support</a></div>
            <div class="level-1"><a href="#version-40" class="">Version 4.0</a></div>
            <div class="level-1"><a href="#version-30" class="">Version 3.0</a></div>
            <div class="level-1"><a href="#version-20" class="">Version 2.0</a></div>
        </div>
    </div>
</nav>
<section>
    <h1 id="try-it-out">Upload Document</h1>
    <div id="dropzone">
        <form action="/upload" class="dropzone needsclick dz-clickable" id="demo-upload" onsubmit="window.location.href = '/upload'">
            <div class="dz-message needsclick">
                Drop files here or click to upload.
                <br>
                <span class="note needsclick">(Select a <strong>pdf</strong>, <strong>txt</strong>, or <strong>doc</strong>)</span>
            </div>
        </form>

    </div>
</section>
<section>
    <h1 id="configuration">Basic Nondisclosure Agreement</h1>
    <h2 class="anchor" id="configuration-options">Agreement Highlights</h2>
    {% include "nda_table.html" %}
    {% include "nda.html" %}
    
    {% endblock %}