<table>
    <thead>
        <tr>
            <th class="title" colspan="2">
                <div class="header">Contract Highlights</div>
            </th>
        </tr>
        <tr>
            <th>Option</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr id="config-url">
            <td><a href="https://www.dropzonejs.com/#config-url"><code>Obligations</code></a></td>
            <td>
                Specifies very stringent obligations, even under the conditions of receiving a <code>subpoena</code>.
            </td>
        </tr>
        <tr id="config-method">
            <td><a href="https://www.dropzonejs.com/#config-method"><code>Amendments</code></a></td>
            <td>
                Allows the opposing party to <code>amend this contract at will</code>.
            </td>
    </tbody>
</table>