{% extends "base.html" %}

{% block head_extra %}
<title>Nearby Promotions</title>
{% endblock %}

{% block content %}
<div class="container">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Nearby Promotions
        </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="https://www.groupon.com/deals/ethiopia-restaurant-4">
                <img class="img-responsive" height="400" width="700" src="https://img.grouponcdn.com/deal/j3tyypGSDjuN628aJWtv/84-2048x1229/v1/c312x189.jpg" alt="">
            </a>
            <h3>
            <a href="https://www.groupon.com/deals/ethiopia-restaurant-4">Ethiopia Restaurant</a>
        </h3>
            <p>Up to 57% Off at Ethiopia Restaurant in Berkeley</p>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 10.2 miles, Elmwood
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="https://www.groupon.com/deals/turkish-kitchen-1-5">
                <img class="img-responsive" height="400" width="700" src="https://img.grouponcdn.com/deal/x723KfoQ7d3vfr4wZEerYW/Class_Restaurant_4-G_nge_Grill_Men__Stuttgart_elena_Aug14_1000x-1000x600/v1/c460x279.jpg" alt="">
            </a>
            <h3>
            <a href="https://www.groupon.com/deals/turkish-kitchen-1-5">Turkish Kitchen</a>
        </h3>
            <p>40% Off at Turkish Kitchen</p>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 2.1 miles, Downtown Berkeley
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="https://www.groupon.com/deals/burritos-inc">
                <img class="img-responsive" height="400" width="700" src="https://img.grouponcdn.com/deal/5QrdK4wfnKRfhjtJHTAX/ha-4110x2466/v1/c312x189.jpg" alt="">
            </a>
            <h3>
            <a href="https://www.groupon.com/deals/burritos-inc">Burritos Inc.</a>
        </h3>
            <p>Up to 51% off at Burritos Inc.</p>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 5.3 miles, South Berkeley
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="https://www.grubhub.com/restaurant/house-of-curries-2984-college-ave-berkeley/180243">
                <img class="img-responsive" height="400" width="700" src="https://img.grouponcdn.com/deal/akLcJi1EsC5TToXJzhPk/Uw-1000x600/v1/c312x189.jpg" alt="">
            </a>
            <h3>
            <a href="https://www.grubhub.com/restaurant/house-of-curries-2984-college-ave-berkeley/180243">House of Curries</a>
        </h3>
            <p>Free naan with orders of $15 or more</p>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 1.5 miles, Berkeley
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="https://www.livingsocial.com/deals/1446730-50-or-100-toward-lunch-or-dinner?pos=2">
                <img class="img-responsive" height="400" width="700" src="https://img.grouponcdn.com/deal/qiXoU9MDWGsxQjikCY6Vms/Fotolia_66232255_Subscription_XXL-2048x1229/v1/c312x189.jpg" alt="">
            </a>
            <h3>
            <a href="https://www.livingsocial.com/deals/1446730-50-or-100-toward-lunch-or-dinner?pos=2">Il Pescatore Ristorante</a>
        </h3>
            <p>$35 off for lunch or dinner</p>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 6.1 miles, Jack London Square, Oakland
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="https://www.groupon.com/deals/taste-of-the-himalayas-berkeley-1">
                <img class="img-responsive" height="400" width="700" src="https://img.grouponcdn.com/deal/9Cm7yDBYwRJaj89W4dTqBp/KP-958x574-958x574/v1/c312x189.jpg" alt="">
            </a>
            <h3>
            <a href="https://www.groupon.com/deals/taste-of-the-himalayas-berkeley-1">Taste of the Himalayas</a>
        </h3>
            <p>Up to 45% off Nepalese and Indian Cuisine</p>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 2.3 miles, North Berkeley
        </div>
    </div>
</div>
{% endblock %}